.card {
  display: inline-block;
  background-color: var(--background) !important;
  color: var(--yellow);
  width: 30rem !important;
  height: auto;
  border: 1px solid var(--yellow);
  padding: var(--u2);
  border-radius: 3px;
  height: auto;
  flex: 0 !important;

  .title {
    font-size: 2rem;
    text-align: center;
  }

a {
    color: var(--yellow);
}

a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.card-img {
    // padding: var(--u2);
    // width: 100%;
}

.movie-card-button {
  display: flex;
  justify-content: center;
  padding-top: var(--u);
}

.text {
    height: 5rem;
    overflow-y: scroll;
    font-size: .8rem;
}

.button-primary {
    width: 50%;
}

    // .btn-outline-primary,
    // .btn-link {
    //     color: var(--yellow);
    //     border: 1px solid var(--yellow);
    //     // justify-self: flex-end;

    //     &:hover,
    //     &:focus,
    //     &:active {
    //         background-color: var(--yellow);
    //         color: var(--background);
    //         border: 1px solid var(--yellow);
    //         text-decoration: none;
    //     }
    // }
}

.movie-card {
    &:hover {
        border: 1px solid var(--yellow);
        cursor: pointer;
    }
}


// @import "../../index.scss";
 