.card {
  display: flex;
  // justify-content: center;
  align-items: center;
  background-color: var(--background) !important;
  color: var(--yellow);
  width: 17rem !important;
  height: auto !important;
  border: 1px solid var(--yellow);
  border-radius: .3rem;
  padding: var(--u2);
  border-radius: 3px;
  flex: 0 !important;


  .title {
    margin: var(--u2) auto !important;
    font-size: 1.4rem;
    width: 14rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-img {
    text-align: center;
    
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      text-align: center;
    }
  }

  .button-primary {
    width: 12rem;
    text-align: center;
    justify-self: center !important;
    margin-top: 0;
    font-size: 1.2rem;
  }

  svg {
    position: absolute;
    top: .4rem;
    right: 4px;
  }

  svg path {
    stroke: var(--yellow);
  }

  .faved svg {
    fill: var(--yellow);
  }
}


// // @import "../../index.scss";
 