html {
    background-color: var(--background-dark);
    margin-top: 200px;
}

a {
    color: var(--yellow);
}

body {
 margin-top: 200px;
}

.app-container {
background-color: var(--background-dark);
}

// .page-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
// z-index: 1;
//     max-width: var(--page);
//     background-color: var(--background);
//     color: var(--yellow);
//     padding: var(--u3) var(--u5);
// }

// .log-out {
//     display: flex;
//     justify-content: right;
// }

.col-md-3 {
    padding: 0 !important;
}

.row,
.main-view {
    display: fle !important;
    flex-wrap:wrap;
    column-gap: var(--u2);
    row-gap: var(--u2);
    padding-top: var(--u3);
    justify-content: center;
    align-items: center;
}

.filter {
  background-color: lime;
}

.movies-list {
  background-color: orangered;
  display: flex;
}

// .landingPage {
//     display: flex;
//     flex-wrap:wrap;
//     justify-content: center;
//     align-items: stretch;
//     gap: var(--u3);
//     margin-top: 6.4rem;
//     background-image: url(../img/cinema.jpg);
//     background-size: 100%;
//     background-repeat: no-repeat;
// }

a {
  display: inline-block;
  margin: var(--u);
    color: var(--yellow);
    border: 1px solid var(--yellow);
    // justify-self: flex-end;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--yellow);
        color: var(--background);
        border: 1px solid var(--yellow);
    }
}

// .cinema {
//     width: 100%;
//     height: auto;
//     position: relative;
//     top: 0;
//     left: 0;
// z-index: 1000;
// }
a,
.button-primary {
    color: var(--yellow) !important;
    border: 1px solid var(--yellow) !important;
    background-color: var(--background) !important;
    // justify-self: flex-end;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--yellow)!important;
        color: var(--background)!important;
        border: 1px solid var(--yellow)!important;
    }
}
