* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    background-image: url(../img/cinema.jpg);
    background-size: 100%;
}

.col-md-3 {
    padding: 0 !important;
}

.main-view {
    display: flex;
    flex-wrap:wrap;
    column-gap: var(--u2);
    row-gap: var(--u2);
    padding-top: var(--u3);
}

.landingPage {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch;
    gap: var(--u3);
    margin-top: 6.4rem;
    background-image: url(../img/cinema.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn-outline-primary {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    // justify-self: flex-end;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--yellow);
        color: var(--background);
        border: 1px solid var(--yellow);
    }
}

.cinema {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
z-index: 1000;
}
