* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

.col-md-3 {
    padding: 0 !important;
}

.main-view {
    display: flex;
    flex-wrap:wrap;
    column-gap: var(--u2);
    row-gap: var(--u2);
    padding-top: var(--u3);
}

.landingPage {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch;
    gap: var(--u3);
    margin-top: 6.4rem;
}