.profile-view {
    color: var(--yellow);
    background-color: var(--background-dark);
    padding: var(--u4);
}

.favorite-movies {
    display: flex;
    flex-wrap: wrap;
    gap: var(--u2);
    justify-content: space-around;
}

.update-form {
    width: 60%;
    margin: var(--u3) auto;
}