.movie-view {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas:
    "poster title title"
    "poster description description"
    "poster director genre"
    "button button button";
    row-gap: 24px;
    margin: 36px;

    .movie-poster {
        grid-area: poster;
    }

    .movie-title {
        grid-area: title;
        font-weight: bold;

        &:nth-child(2) {
            font-size: 36px;
        }
    }

    .movie-description {
        grid-area: description;
    }

    .movie-genre {
        grid-area: genre;
        justify-self: center;
    }

    .movie-director {
        grid-area: director;
        justify-self: center;
    }

    button {
    background-color:var(--background);
    color: var(--yellow);
    width: 300px;
    padding: 8px 24px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
        grid-area: button;
        justify-self: center;
        margin-top: 16px;
        border: none;

        &:hover {
            border: none;
            opacity: .9;
            }
    }
}

@import "../../index.scss";
