.movie-poster {
    flex: 0;

    .button-back-container {
justify-content: center !important;
padding: 2rem;

.button-back {
    margin-top: var(--u1);
    width: 50%;
}
}


}

.movie-details {

    span {
        &:nth-of-type(1) {
            font-size: .8rem;
            padding-right: .8rem;
        }
    }
}

@import "../../index.scss";
