.page-header {
  position: fixed;
  top: 0;left: 0;
  right: 0;
  z-index: 1;
  max-width: var(--page);
  height: 10rem;
  background-color: var(--background);
  border: 1px solid var(--yellow);
  border-radius: 3px;
  padding: var(--u) var(--u4);
  display: flex;
  justify-content: space-between;
  align-items: center !important;

  a {
    color: var(--yellow) !important;
  }
}

.header-logo {
  svg {
    width: 7rem;
    height: auto;
    padding: 0;
  }

  a {
    border: none !important;

    &:hover {
      background-color: transparent !important;
      transform: rotate(90deg) !important;
    }
  }
}

.header-welcome {
  color: var(--yellow);
}

.header-profile {
    align-items: center;
}

.button-primary {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    background-color: var(--background);
    padding: var(--u) var(--u2);
    border-radius: 3px;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--yellow);
        color: var(--background);
        border: 1px solid var(--yellow);
        text-decoration: none;
        transition: 0.4s;
        cursor: pointer;
    }
}