.page-header {
  position: fixed;
  top: 0;left: 0;
  right: 0;
  z-index: 1;
  max-width: var(--page);
  background-color: var(--background);
  border: 1px solid var(--yellow);
  border-radius: 3px;
  padding: var(--u4);
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.header-logo {
  svg {
    width: 5rem;
    height: auto;
  }
}

.header-welcome {
  color: var(--yellow);
}

.header-profile {
    align-items: center;
}

.button-primary {
    color: var(--yellow);
    border: 1px solid var(--yellow);
    background-color: var(--background);
    padding: 0.75rem 1rem;
    border-radius: 3px;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--yellow);
        color: var(--background);
        border: 1px solid var(--yellow);
        text-decoration: none;
        transition: 0.4s;
        cursor: pointer;
    }
}