.login-page {
  height: 100vh;
  background-image: url('../img/film.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  object-fit: center;
  display: flex;
  flex: 0 !important;
  align-items: flex-start;
  justify-content: flex-start;

a {
  margin: 0;

  &:hover {
    border: 1px solid var(--background) !important;
  }
}
}

@media only screen and (max-width: 800px) {
  .login-page {
    background-image: none;
  }
}


.login-view {
  display: flex;
  flex: 0 !important;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  row-gap: var(--u5);
  width: 25rem !important;
  margin: auto;
  // align-self: flex-start;

  p {
    text-align: center;
    font-size: 1.2rem;
    justify-self: end;
  }
}

form {
  background-color: var(--background);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  padding: var(--u2);
  width: 25rem !important;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
    
    h2 {
        display: block;
        text-align: center;
        margin-bottom: var(--u1-5);
    }

    .form-control {
        margin-bottom: var(--u1-5);
    }

    input {
        background-color: var(--background);
        border: 1px solid var(--yellow);
        font-size: 1.2rem;
        display: block;
        color: var(--yellow);

        &:focus {
            background-color: var(--yellow);
            color: var(--background);
        }

    }   

    .form-label {
        font-size: 1rem;
        margin-bottom: var(--u0-5);
    }
    .form-actions {
        display: flex;
        justify-content: center;
        margin-top: var(--u3);
    }

    .button-primary {
      width: 15rem;
      height: 4rem;
    }

    .button-loading {
      display: flex;
      justify-content: center;

      &:hover {
        background-color: transparent;
      }
    }

    .loading {
      width: 2.4rem;
      height: 2.4rem;
      border-left: solid 3px var(--yellow);
      border-bottom: solid 3px  var(--yellow);
      border-radius: 50px;
      animation-name: loading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    @keyframes loading {
      0% {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
    }
}

// @import "../../index.scss";
