.main-view {
    margin: 36px;
}

:root {
    --yellow: #ffbf00;
    --background: #272727;
}

button {
    background-color:var(--yellow);
    color: var(--background);
    padding: 8px 24px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--background);

    &:hover {
    background-color: var(--background);
        color: var(--yellow);
        border: 1px solid var(--yellow);
    }
}

// @import "./components/main-view/main-view.scss";
// @import "./components/movie-card/movie-card.scss";
// @import "./components/movie-view/movie-view.scss";