.director-view {
    background-color: var(--background);
    color: var(--yellow);
    padding: var(--u2);
    display: flex;
    flex-direction: column;

.director-bio,
.director-birth,
.director-death,
.director-movies {
    margin-top: var(--u2);
}

.director-birth-label,
.director-death-label {
    font-size: .8rem;
    padding-right: .8rem;
    display: inline;
}

.director-birth-date,
.director-death-date {
    display: inline;
    color: red;
    font-weight: bold;
}

button,
        button:visited {
            color: var(--yellow);
        border: 1px solid var(--yellow);
        width: 50%;
        align-self: center;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--yellow);
            color: var(--background);
            border: 1px solid var(--yellow);
            text-decoration: none;
        }
    }

}

